{% extends "base.html" %}
{% load static %}
{% block content %}
{% load humanize %}

  <section class="py-xxl-10 pb-0" id="home">
    <div class="bg-holder bg-size" style="background-image:url({% static 'tampo/assets/img/gallery/hero-header-bg.png' %});background-position:top center;background-size:cover;">
    </div>
    <!--/.bg-holder-->




    <div class="container" dir="rtl">
      <div class="row align-items-center">

        <div class="col-md-11">
          <h1 class="fw-bolder fs-6 fs-xxl-7 mb-2"> آتـــروتـک </h1>
          <p class="fs-1 mb-5"> آتروتک با برخوردارى از نيروى انسانى متخصص و پشتوانه علمى و تجربى، با استفاده از آخرين روش هاى فن آورى و مهندسى موفق به ارائه خدمات گسترده و با كيفيت براى مشتريان گرديده .توسعه و بالندگی از طریق بازنگری اهداف، تدوین برنامه‌ها، اولویت‌بندی فعالیت‌ها و بهبود مستمر سرمشق شرکت مهندسى آتروتك بوده و دستیابی به این اهداف، نیازمند ترویج فرهنگ تعالی، حفظ و بهبود ارزش‌ها و اصول اخلاقی شركت و رعایت مسئولیت‌های اجتماعی است. </p>
        </div>

        <div class="col-md-1">
          <img class="pt-7 pt-md-0 w-100" src="{% static 'tampo/assets/img/illustrations/logo.png' %}" alt="hero-header" />
        </div>

        <br><br><br>
        <h3>  حوزه های فعالیتی:  </h3> <br><br><br><br>


        <div class="col-4">
          <h5>اتوماسیون</h5> <hr>
          <p> افزایش بازدهی در صنایع در دستان اتوماسیون و بخصوص نوع صنعتی آن می باشد، تکنولوژیی که پس از ظهور آن همچنان پر قدرت به سمت جلو می رود و گویا پایانی بر نوآوری های آن نیست. <br><br><br> </p>
        </div>
        <div class="col-4">
          <h5> ماشین سازی </h5> <hr>
          <p> صنعت، فناوری را به زبان ماشین می‌شناسد و از این رو «صنعت ماشین سازی» در بین دیگر صنایع یک صنعت زیرساختی و پیشرو محسوب می‌شود. صنعت ماشین سازی پیش‌نیاز اساسی توسعه دیگر صنایع است و نمود اصلی صنعتی شدن کشورها، در میزان پیشرفت این صنعت نمایان است. </p>
        </div>
        <div class="col-4">
          <h5>ساخت و تولید</h5> <hr>
          <p> در سال‌های اخیر با توجه به شرایط اقتصادی کشور تولید داخلی بیش از پیش مورد توجه قرار گرفته است و شرکت آتروتک با بهره مندی از ابزار و مهندسی نوین در طراحی و اجرا همواره میکوشد تا در این مسیر پیشرو باشد </p>
        </div>
        <div class="col-4">
          <h5>اینترنت اشیاء</h5> <hr>
          <p>اینترنت اشیا ، یا اینترنت چیزها (Internet of Things) یک پارادایم نسبتاً جدید است که در سناریوهای ارتباطات بی‌سیم و مدرن به سرعت در حال رشد است. ایده اصلی این مفهوم، حضور فراگیر انواع اشیاء در اطراف ما است،</p>
        </div>
        <div class="col-4">
          <h5> هوش مصنوعی </h5> <hr>
          <p> هوش مصنوعی به سیستم‌هایی گفته می‌شود که می‌توانند واکنش‌هایی مشابه رفتارهای هوشمند انسانی از جمله درک شرایط پیچیده، شبیه‌سازی فرایندهای تفکری و شیوه‌های استدلالی انسانی و پاسخ موفق به آنها، یادگیری و توانایی کسب دانش و استدلال برای حل مسایل را داشته باشند. </p>
        </div>
        <div class="col-4">
          <h5> تولید دیجیتال </h5> <hr>
          <p> دنیای تولیدات امروز سیر تغییرات بسیار سریعی دارد. تولیدات دیجیتالی، مثل پرینت سه بعدی، باعث ایجاد محصولات مبتکرانه و جدیدی شده اند. </p>
        </div>



        <div class="col-12" align="center">
          <br><br><br><br>
           <a href="http://www.atrotech.ir"> <h3> www.atrotech.ir </h3> </a>
          <br><br><br><br>
        </div>




    </div>
  </div>








  </section>



{%endblock%}
