{% extends "base.html" %}
{% load static %}
{% block content %}
{% load humanize %}

  <section class="py-xxl-10 pb-0" id="home">
    <div class="bg-holder bg-size" style="background-image:url({% static 'tampo/assets/img/gallery/hero-header-bg.png' %});background-position:top center;background-size:cover;">
    </div>
    <!--/.bg-holder-->




    <div class="container" dir="rtl">
      <div class="row align-items-center">

        <div class="col-md-10">
          <h1 class="fw-bolder fs-6 fs-xxl-7 mb-2"> آتـــروتـک </h1>
          <p class="fs-1 mb-5"> آتروتک با برخوردارى از نيروى انسانى متخصص و پشتوانه علمى و تجربى، با استفاده از آخرين روش هاى فن آورى و مهندسى موفق به ارائه خدمات گسترده و با كيفيت براى مشتريان گرديده .توسعه و بالندگی از طریق بازنگری اهداف، تدوین برنامه‌ها، اولویت‌بندی فعالیت‌ها و بهبود مستمر سرمشق شرکت مهندسى آتروتك بوده و دستیابی به این اهداف، نیازمند ترویج فرهنگ تعالی، حفظ و بهبود ارزش‌ها و اصول اخلاقی شركت و رعایت مسئولیت‌های اجتماعی است. </p>
        </div>


        <div class="col-md-2">
          <img class="pt-7 pt-md-0 w-100" src="{% static 'tampo/assets/img/illustrations/logo.png' %}" alt="hero-header" />
        </div>


    </div>
  </div>








  </section>



{%endblock%}
