{% extends "base.html" %}
{% load static %}
{% block content %}
{% load humanize %}

  <section class="py-xxl-10 pb-0" id="home">
    <div class="bg-holder bg-size" style="background-image:url({% static 'tampo/assets/img/gallery/hero-header-bg.png' %});background-position:top center;background-size:cover;">
    </div>
    <!--/.bg-holder-->

    <div class="container" dir="rtl">
      <div class="row align-items-center">
        <h1 class="fw-bolder fs-6 fs-xxl-7 mb-2"> دستگاه چاپ پد پرینتر (تامپو) </h1>
        <p class="fs-1 mb-5">  product product product product product product product </p>


        <div class="col-md-8">
          <img class="pt-7 pt-md-0 w-100" src="{% static 'tampo/assets/img/illustrations/hero.png' %}" alt="hero-header" />
        </div>



        <div class="col-md-4">
          <h4> توضیحات </h4>
          <p>
            ggggrg :grgrgrg <br>
            ggggrg :grgrgrg <br>
            ggggrg :grgrgrg <br>
            ggggrg :grgrgrg <br>
            ggggrg :grgrgrg <br>
            ggggrg :grgrgrg <br>
            ggggrg :grgrgrg <br>
            ggggrg :grgrgrg
          </p>
        </div>




        <div class="col-md-12">
          <br>
          <h4> توضیحات </h4>
          <p>
            fgs hdfhgggggg ggggggg ggggggg ggggggg ddddddd fgs hdfhgggggg ggggggg ggggggg ggggggg ddddddd fgs hdfhgggggg ggggggg ggggggg ggggggg ddddddd fgs hdfhgggggg ggggggg ggggggg ggggggg ddddddd fgs hdfhgggggg ggggggg ggggggg ggggggg ddddddd
            fgs hdfhgggggg ggggggg ggggggg ggggggg ddddddd fgs hdfhgggggg ggggggg gg hdfhgggggg ggggggg ggggggg ggggggg ddddddd fgs hdfhgggggg ggggggg ggggggg ggggggg ddddddd fgs hdfhgggggg ggggggg ggggggg ggggggg ddddddd fgs hdfhgggggg ggggggg ggggggg ggggggg ddddddd fgs hdfhgggggg ggggggg ggggggg ggggggg ddddddd
            fgs hdfhgggggg ggggggg ggggggg ggggggg ddddddd fgs hdfhgggggg ggggggg gg hdfhgggggg ggggggg ggggggg ggggggg ddddddd fgs hdfhgggggg ggggggg ggggggg ggggggg ddddddd fgs hdfhgggggg ggggggg ggggggg ggggggg ddddddd fgs hdfhgggggg ggggggg ggggggg ggggggg ddddddd fgs hdfhgggggg ggggggg ggggggg ggggggg ddddddd
            fgs hdfhgggggg ggggggg ggggggg ggggggg ddddddd fgs hdfhgggggg ggggggg ggggggg ggggggg ddddddd fgs hdfhgggggg ggggggg ggggggg ggggggg ddddddd fgs hdfhgggggg ggggggg ggggggg ggggggg ddddddd fgs hdfhgggggg ggggggg ggggggg ggggggg ddddddd
          </p>
        </div>


        <div class="col-md-12">
          <br><br>
          <div class="card bg-dark text-white py-4 py-sm-0"><img class="w-100" src="{% static 'tampo/assets/img/gallery/video.png' %}" alt="video" />
            <div class="card-img-overlay bg-dark-gradient d-flex flex-column flex-center"><img src="{% static 'tampo/assets/img/icons/play.png' %}" width="80" alt="play" />
              <h5 class="text-primary"> مشاهده نمونه کار دستگاه </h5>
              <p class="text-center"> تنها تامپوی دیجیتالی تمام اتوماتیک در ایران <br> با قابلیت چاپ یکدست بروی انواع اجسام نرم و سخت <br> با هر نوع شکل هندسی می باشد </p><a class="stretched-link" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"></a>
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                  <div class="modal-content overflow-hidden">
                    <div class="modal-header p-0">
                      <div class="ratio ratio-16x9" id="exampleModalLabel">
                        <iframe src="https://www.youtube.com/embed/TlcP2aTOp-Q" title="YouTube video" allowfullscreen="allowfullscreen"></iframe>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button class="btn btn-primary" type="button" data-bs-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br><br>
        </div>



    </div>
  </section>








  <section class="pt-7 pb-0">

    <div class="container">
      <div class="row">
        <div class="col-6 col-lg mb-5">
          <div class="text-center"><img src="{% static 'tampo/assets/img/icons/awards.png' %}" alt="..." />
            <h1 class="text-primary mt-4">3+</h1>
            <h5 class="text-800"> جوایز برنده شده </h5>
          </div>
        </div>
        <div class="col-6 col-lg mb-5">
          <div class="text-center"><img src="{% static 'tampo/assets/img/icons/states.png' %}" alt="..." />
            <h1 class="text-primary mt-4">30+</h1>
            <h5 class="text-800"> استان های تحت پوشش </h5>
          </div>
        </div>
        <div class="col-6 col-lg mb-5">
          <div class="text-center"><img src="{% static 'tampo/assets/img/icons/clients.png' %}" alt="..." />
            <h1 class="text-primary mt-4">15+</h1>
            <h5 class="text-800"> مشتریان </h5>
          </div>
        </div>
        <div class="col-6 col-lg mb-5">
          <div class="text-center"><img src="{% static 'tampo/assets/img/icons/goods.png' %}" alt="..." />
            <h1 class="text-primary mt-4">100+</h1>
            <h5 class="text-800"> محصولات تحویل داده شده </h5>
          </div>
        </div>
      </div>
    </div>
    <!-- end of .container-->

  </section>



  <div class="container" dir="rtl">
    <div class="row align-items-center">

      <div class="col-md-4">
        <br>
        <h4> توضیحات </h4>
        <p>
          fgs hdfhgggggg ggggggg ggggggg ggggggg ddddddd fgs hdfhgggggg ggggggg ggggggg ggggggg ddddddd fgs hdfhgggggg ggggggg ggggggg ggggggg ddddddd fgs hdfhgggggg ggggggg ggggggg ggggggg ddddddd fgs hdfhgggggg ggggggg ggggggg ggggggg ddddddd
          fgs hdfhgggggg gggg g ddddddd fgs hdfhgggggg ggggggg ggggggg ggggggg ddddddd fgs hdfhgggggg ggggggg ggggggg ggggggg ddddddd
        </p>
      </div>

      <div class="col-md-8">
        <h5> hhhhhhh </h5>  
      </div>

   </div>
 </div>





  <!-- <section> begin ============================-->
  <section class="py-7">

    <div class="container-fluid">
      <div class="row flex-center">
        <div class="bg-holder bg-size" style="background-image:url(assets/img/gallery/quote.png);background-position:top;background-size:auto;margin-left:-270px;margin-top:-45px;">
        </div>
        <!--/.bg-holder-->

        <div class="col-md-8 col-lg-5 text-center">
          <h5 class="text-danger"> Blog </h5>
          <h2> آخرین پست ها </h2>
        </div>
        <div class="carousel slide pt-6" id="carouselExampleDark" data-bs-ride="carousel">


          <div class="carousel slide pt-6" id="carouselExampleDark" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <div class="row h-100">
         {% for Post in posts %}
            <div class="col-md-4 mb-3 mb-md-0" dir="rtl">
              <div class="card h-100 card-span p-3">
                <div class="card-body">
                  <h5 class="mb-0 text-primary"> {{ Post.title }} </h5> <hr>
                  <p class="card-text text-muted h6"> {{ Post.created_on|naturaltime }} | نویسنده: {{ Post.author }}  </p>
                  <p class="card-text "> {{ Post.content|safe|slice:":400" }}  </p>
                  <div align="center">
                    <a href="{% url 'post_detail' Post.slug  %}" class="btn btn-primary"> ادامه مطلب </a>
                  </div>
                </div>
              </div>
            </div>
         {% endfor %}
         </div></div></div></div>


        </div>
      </div>
    </div>
    <!-- end of .container-->

  </section>



{%endblock%}
