{% extends "base.html" %}
{% load static %}
{% block content %}
{% load humanize %}

  <section class="py-xxl-10 pb-0" id="home">
    <div class="bg-holder bg-size" style="background-image:url({% static 'tampo/assets/img/gallery/hero-header-bg.png' %});background-position:top center;background-size:cover;">
    </div>
    <!--/.bg-holder-->

    <div class="container" dir="rtl">
      <div class="row align-items-center">
        <h1 class="fw-bolder fs-6 fs-xxl-7 mb-2"> دستگاه چاپ تامپو رومیزی </h1>
        <p class="fs-1 mb-5">  این دستگاه جزو دستگاه های کم مصرف و با بازدهی بالا و با هزینه نگهداری بسیار پایین محسوب میشود و با دارا بودن رابط کاربری بسیار ساده و کاربردی و ساخت با کیفیت ، کار را برای اپراتور بسیار راحت میکند و در نهايت باعث افزایش بهره وری میشود.  تمایز و برتری ما نسبت به سایر دستگاه های مشابه در تمام الکترونیک بودن ، سرعت بالا و قابل تنظیم ، صدای بسیار کم، مصرف بهینه و همچنین رابط کاربری آسان آن است که همه این ها در کنار قیمت بسیار پایین محقق شده </p>

        <div class="col-md-8">
          <img class="pt-7 pt-md-0 w-100" src="{% static 'tampo/assets/img/illustrations/hero.png' %}" alt="دستگاه چاپ تامپو رومیزی" />
        </div>



        <div class="col-md-4">
          <h4> ویژگی ها </h4>
          <p>
            مجهز به سیستم رنگ بسته <br>
            با قابلیت چاپ روی سطوح هندسی <br>
            دارای پدال و سیستم اتوماتیک <br>
            امکان چاپ تا سایز ۵۰x50mm  <br>
            اوپراتور آسان <br>
            بدون نیاز به باد فشرده <br>
            کم مصرف و با بازدهی بالا <br>
            ولتاژ ۲۲۰ ولت <br>
            هزینه نگهداری بسیار پایین <br>
            حداکثر سرعت چاپ ۱۸۰۰ عدد در ساعت
          </p>
        </div>




        <div class="col-md-12">
          <br>
          <h4> توضیحات </h4>
          <p>
            این دستگاه یک دستگاه نیمه اتوماتیک با ولتاژ ۲۲۰ ولت و همچنین با قابلیت چاپ یکدست بروی انواع اجسام و دارای پنل کنترل و سیستم اتوماتیک میباشد که بدون نیاز به کمپرسور و با استفاده از برق می تواند چاپ های تامپو با ابعاد محدود را انجام دهد. قابلیت تنظیم سرعت ، بدون نیاز به باد فشرده ، قابل ارتقا تا پد ۱۰ سانت ، قابلیت بستن کلیشه های ورقی و تخت ، قیمت بسیار مناسب ، قابلیت چاپ تا ابعاد 50 میلی متر طول و عرض ، مجهز به سیستم رنگ بسته ، حداکثر سرعت چاپ ۲۰۰۰ عدد در ساعت از مزایای فوق العاده دستگاه تامپو TMP1 است. این دستگاه جزو دستگاه های کم مصرف و با بازدهی بالا و با هزینه نگهداری بسیار پایین محسوب میشود و به صورت مستقیم توسط شرکت آتروتک عرضه می شود.
این دستگاه جزو دستگاه های کم مصرف و با بازدهی بالا و با هزینه نگهداری بسیار پایین محسوب میشود و با دارا بودن رابط کاربری بسیار ساده و کاربردی و ساخت با کیفیت ، کار را برای اپراتور بسیار راحت میکند و در نهايت باعث افزایش بهره وری میشود.
تمایز و برتری ما نسبت به سایر دستگاه های مشابه در تمام الکترونیک بودن ، سرعت بالا و قابل تنظیم ، صدای بسیار کم، مصرف بهینه و همچنین رابط کاربری آسان آن است که همه این ها در کنار قیمت بسیار پایین محقق شده
          </p>
        </div>


        <div class="col-md-12">
          <br><br>
          <div class="card bg-dark text-white py-4 py-sm-0"><img class="w-100" src="{% static 'tampo/assets/img/gallery/video.png' %}" alt="video" />
            <div class="card-img-overlay bg-dark-gradient d-flex flex-column flex-center"><img src="{% static 'tampo/assets/img/icons/play.png' %}" width="80" alt="play" />
              <h5 class="text-primary"> مشاهده نمونه کار دستگاه </h5>
              <p class="text-center"> تنها تامپوی دیجیتالی تمام اتوماتیک در ایران <br> با قابلیت چاپ یکدست بروی انواع اجسام نرم و سخت <br> با هر نوع شکل هندسی می باشد </p><a class="stretched-link" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"></a>
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                  <div class="modal-content overflow-hidden">
                    <div class="modal-header p-0">
                      <div class="ratio ratio-16x9" id="exampleModalLabel">
                        <iframe src="https://www.youtube.com/embed/TlcP2aTOp-Q" title="YouTube video" allowfullscreen="allowfullscreen"></iframe>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button class="btn btn-primary" type="button" data-bs-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br><br>
        </div>



    </div>
  </section>








  <section class="pt-7 pb-0">

    <div class="container">
      <div class="row">
        <div class="col-6 col-lg mb-5">
          <div class="text-center"><img src="{% static 'tampo/assets/img/icons/competition.png' %}" alt="..." />
            <h5 class="text-800"> مزایای رقابتی </h5>
          </div>
        </div>
        <div class="col-6 col-lg mb-5">
          <div class="text-center"><img src="{% static 'tampo/assets/img/icons/medal.png' %}" alt="..." />
            <h5 class="text-800"> کیفیت بالا </h5>
          </div>
        </div>
        <div class="col-6 col-lg mb-5">
          <div class="text-center"><img src="{% static 'tampo/assets/img/icons/service.png' %}" alt="..." />
            <h5 class="text-800"> پشتیبانی مناسب </h5>
          </div>
        </div>
      </div>
    </div>
    <!-- end of .container-->

  </section>



  <div class="container" dir="rtl">
    <div class="row align-items-center">

      <div class="col-md-4">
        <p>
               سرعت بالای چاپ
          <br> هزینه ی کم مواد مصرفی
          <br> دارای پدال جهت دسترسی آسان
          <br> دارای ریموت کنترل برای هدایت دستگاه
          <br> دارای شمارنده تعداد ضرب چاپ شده
          <br> دارای میزان کارکرد دستگاه در حافظه و رم دستگاه
          <br> دارای سیستم Power Pad جهت تنظیم فشار وارده روی جنس ( برای اولین بار در دنیا )
          <br> دارای کاپ جوهر فلزی با رینگ تنگستن کارباید برای مقاومت و عمر بسیار بالا
          <br> قابلیت چاپ روی سطوح محدب ،مدور و تخت
          <br> حداکثر سرعت چاپ 4000 عدد در ساعت
          <br> کم حجم نسبت به دستگاهای بادی
          <br> چاپ روی تمامی قطعات صنعتی
          <br> مجهز به سیستم رنگ بسته
          <br> هزینه نگهداری بسیار پایین
          <br> موتور گیربکسی 320W
          <br> بدون نیاز به کمپرسور باد
          <br> کم مصرف و با بازدهی بالا
          <br> پرتابل و قابل حمل
          <br> ولتاژ ۲۲۰ ولت
          <br> اوپراتور آسان
        </p>
      </div>

      <div class="col-md-8" align="left" dir="ltr">

          <div class="container">
            <div class="mySlides">
              <div class="numbertext">1 / 4</div>
              <img src="{% static 'tampo/assets/img/slider/11.jpeg' %}" style="width:100%" alt="">
            </div>

            <div class="mySlides">
              <div class="numbertext">2 / 4</div>
              <img src="{% static 'tampo/assets/img/slider/22.jpeg' %}" style="width:100%" alt="">
            </div>

            <div class="mySlides">
              <div class="numbertext">3 / 4</div>
              <img src="{% static 'tampo/assets/img/slider/33.jpeg' %}" style="width:100%" alt="">
            </div>

            <div class="mySlides">
              <div class="numbertext">4 / 4</div>
              <img src="{% static 'tampo/assets/img/slider/44.jpeg' %}" style="width:100%" alt="">
            </div>

            <a class="prev" onclick="plusSlides(-1)">❮</a>
            <a class="next" onclick="plusSlides(1)">❯</a>

            <div class="caption-container">
              <p id="caption"></p>
            </div>

            <div class="row">
              <div class="column">
                <img class="demo cursor" src="{% static 'tampo/assets/img/slider/11.jpeg' %}" style="width:100%" onclick="currentSlide(1)" alt=" atro tampo 1 ">
              </div>
              <div class="column">
                <img class="demo cursor" src="{% static 'tampo/assets/img/slider/22.jpeg' %}" style="width:100%" onclick="currentSlide(2)" alt=" atro tampo 2 ">
              </div>
              <div class="column">
                <img class="demo cursor" src="{% static 'tampo/assets/img/slider/33.jpeg' %}" style="width:100%" onclick="currentSlide(3)" alt=" atro tampo 3 ">
              </div>
              <div class="column">
                <img class="demo cursor" src="{% static 'tampo/assets/img/slider/44.jpeg' %}" style="width:100%" onclick="currentSlide(4)" alt=" atro tampo 4 ">
              </div>
            </div>
          </div>

            <script>
                var slideIndex = 1;
                showSlides(slideIndex);

                function plusSlides(n) {
                  showSlides(slideIndex += n);
                }

                function currentSlide(n) {
                  showSlides(slideIndex = n);
                }

                function showSlides(n) {
                  var i;
                  var slides = document.getElementsByClassName("mySlides");
                  var dots = document.getElementsByClassName("demo");
                  var captionText = document.getElementById("caption");
                  if (n > slides.length) {slideIndex = 1}
                  if (n < 1) {slideIndex = slides.length}
                  for (i = 0; i < slides.length; i++) {
                      slides[i].style.display = "none";
                  }
                  for (i = 0; i < dots.length; i++) {
                      dots[i].className = dots[i].className.replace(" active", "");
                  }
                  slides[slideIndex-1].style.display = "block";
                  dots[slideIndex-1].className += " active";
                  captionText.innerHTML = dots[slideIndex-1].alt;
                }
            </script>

      </div>

   </div>
 </div>



 <div class="container" dir="rtl">
   <div class="row align-items-center">
     <div class="col-md-12">
       <br>
       <h4> فرآیند چاپ تامپو </h4>
       <p>
         چاپ تامپو یا بالشتکی نوعی فرآیند چاپ است که در آن تصویری ۲ بعدی روی یک شی سه بعدی منتقل می شود این کار مثل انجام فرآیند چاپ افست به صورت غیر مستقیم انجام میشود. در این فرآیند تصویر روی پلیت چاپ (کلیشه) از طریق یک پد سیلیکونی روی یک لایه (سطح چاپی) منتقل می شود. چاپ تامپو در بسیاری از صنایع مانند پزشکی، اتوماسیون، الکترونیک و تجهیزات، لوازم ورزشی و اسباب بازی به کار می رود. همچنین می توان از مرکب های رسانا، انواع چسبها، رنگ ها و روغن ها در آن استفاده کرد. تغییرات فیزیکی در لایه مرکب روی کلیشه و پد باعث می شود تا تصویر گراور چاپ شده به پد چسبیده و سپس روی لایه دیگر (سطح چاپی) منتقل شود. ویژگی های منحصر به فرد پد سیلیکونی باعث می شود تا تصویر از روی سطح صافی بلند شده و به روی انواع سطوح منتقل شود (مانند سطوح صاف، استوانه ای، مدور، زوایای ترکیبی، بافتها، سطوح تورفته و بیرون آمده).
       </p>
     </div>
  </div>
 </div>



  <!-- <section> begin ============================-->
  <section class="py-7">

    <div class="container-fluid">
      <div class="row flex-center">
        <div class="bg-holder bg-size" style="background-image:url(assets/img/gallery/quote.png);background-position:top;background-size:auto;margin-left:-270px;margin-top:-45px;">
        </div>
        <!--/.bg-holder-->

        <div class="col-md-8 col-lg-5 text-center">
          <h5 class="text-danger"> Blog </h5>
          <h2> آخرین پست ها </h2>
        </div>
        <div class="carousel slide pt-6" id="carouselExampleDark" data-bs-ride="carousel">


          <div class="carousel slide pt-6" id="carouselExampleDark" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <div class="row h-100">
         {% for Post in posts %}
            <div class="col-md-4 mb-3 mb-md-0" dir="rtl">
              <div class="card h-100 card-span p-3">
                <div class="card-body">
                  <h5 class="mb-0 text-primary"> {{ Post.title }} </h5> <hr>
                  <p class="card-text text-muted h6"> {{ Post.created_on|naturaltime }} | نویسنده: {{ Post.author }}  </p>
                  <p class="card-text "> {{ Post.content|safe|slice:":400" }}  </p>
                  <div align="center">
                    <a href="{% url 'post_detail' Post.slug  %}" class="btn btn-primary"> ادامه مطلب </a>
                  </div>
                </div>
              </div>
            </div>
         {% endfor %}
         </div></div></div></div>


        </div>
      </div>
    </div>
    <!-- end of .container-->

  </section>



{%endblock%}
